@page "/polemic"


@inject IPolemic service

<h1>@u.Title</h1>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
</div>



@code {

    private Topic u = new Topic("Hy");
}
