@{
    ViewData["Title"] = "Pagination tag helper";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    <ul class="list-group">
        <li class="list-group-item"><a asp-area="" asp-controller="ScriptTag" asp-action="Index">Script Tag</a> </li>
        <li class="list-group-item"><a asp-area="" asp-controller="PaginationTagHelper" asp-action="Index">Pagination Tag</a> </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
