@{
    ViewData["Title"] = "Tag Helpers";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Script Tags</h1>
    @(await Html.PartialAsync("Partials/DefaultContent"))
    @(await Html.PartialAsync("Partials/SrcContent"))
    @(await Html.PartialAsync("Partials/BundleScript"))
</div>