<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/_content/Apparatus.System.Backoffice/apparatus/apparatus.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/330d4dacee.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Apparatus</a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            @(await Component.InvokeAsync<MainNavigationViewComponent>())
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <script type="text/javascript" src="~/_content/Apparatus.System.Backoffice/apparatus/apparatus.js"></script>
</body>
</html>