@using System.ComponentModel.DataAnnotations
@model Enum

@{

    Func<object, string> GetDisplayName = o =>
    {
        var result = null as string;
        var display = o.GetType()
                       .GetMember(o.ToString()).First()
                       .GetCustomAttributes(false)
                       .OfType<DisplayAttribute>()
                       .LastOrDefault();
        if (display != null)
        {
            result = display.GetName();
        }

        return result ?? o.ToString();
    };

    var values = Enum.GetValues(ViewData.ModelMetadata.ModelType).Cast<object>()
                     .Select(v => new SelectListItem
                     {
                         Selected = v.Equals(Model),
                         Text = GetDisplayName(v),
                         Value = v.ToString()
                     });
}
<div class="form-group">
    <div class="form-group">
        @Html.LabelForModel(new { @class = "form-label" })
        @Html.DropDownList("", values, Html.NameForModel(), new { @class = "select2 form-control", style= "width:100%;" })
        @Html.ValidationMessage("", new { @class = "text-danger" })
    </div>
</div>
