<p>
    This partial view will invoce a method placed before the bodys end.
</p>
<script borg borg-position="BodyBeforeEnd">
    //alert('koko');
</script>
<style borg borg-script-position="HeadBeforeEnd">
    html{ background-color:aliceblue;}
</style>