@{
    var serverVariable = "This is a server varable manipulted by inline js that rendered in the bottom.";
}
<p class="scripttag">
    This partial view has style defined for int, but it rebders o=in the head.<br />

    <span style="display:none;"></span>
</p>
<script borg borg-position="BodyBeforeEnd">

    $(function() {
        var $el =  $('p.scripttag').find('span').first();
        $el.html('@serverVariable').show(500);
        });

   
</script>
<style borg borg-script-position="HeadBeforeEnd">
    p.scripttag {
        color: blue;
        font-size: larger
    }

        p.scripttag span {
            color: red;
            font-style: italic;
        }
</style>