
@{
    var pathtocss = Url.Content("~/css/scripttaghelpercss.css");
}
<p class="src">
    This text is styled from adhoc external css file 
</p>
<p id="mes" style="display:none;">the above text wil have not style when i appear because i come from an adhoc external script</p>

<style borg borg-position="HeadBeforeEnd" src="@pathtocss" />

<script borg borg-key="akey" borg-position="BodyBeforeEnd" src="~/js/scripttaghelpercss.js" />


