@{
    ViewData["Title"] = "Zoo";
}
@model FunWithMvc.Models.Zoo.Dog

<div class="row">
    <form asp-controller="Zoo" asp-action="Index" method="post" class="form-horizontal" role="form">
        @Html.Editor("Id")
        @Html.Editor("Name")
        @Html.Editor("Spieces")
        @Html.Editor("BirthDay")
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div> 